<form class="needs-validation tab-pane fade show active" action="{{ path('app_login') }}" method="post" novalidate autocomplete="off" id="signin-tab">
              <div class="mb-3">
                <label class="form-label" for="si-email">Email address</label>
                <input class="form-control" type="email" placeholder="Email"  name="email" id="inputEmail" required id="si-email">
                <div class="invalid-feedback">Please provide a valid email address.</div>
              </div>
              <div class="mb-3">
                <label class="form-label" for="si-password">Password</label>
                <div class="password-toggle">
                  <input class="form-control" type="password" name="password" id="inputPassword" placeholder="Password" required>
                   <label class="password-toggle-btn" aria-label="Show/hide password">
                      <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                   </label>
                </div>
              </div>
              <div class="mb-3 d-flex flex-wrap justify-content-between">
                <div class="form-check mb-2">
                  <input class="form-check-input" type="checkbox" checked id="_remember_me">
                  <label class="form-check-label" for="_remember_me" name="_remember_me">Remember me</label>
                </div><a class="fs-sm" href="#">Forgot password?</a>
              </div>
              <button class="btn btn-primary btn-shadow d-block w-100" type="submit">Sign in</button>
              <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" >
            </form>  