{% extends 'base.html.twig' %}

{% block title %}Hello ShopProductController!{% endblock %}

{% block content %}
      <!-- Page Title-->
      <div class="page-title-overlap bg-dark pt-4">
        <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
          <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start">
                <li class="breadcrumb-item"><a class="text-nowrap" href="index.html"><i class="ci-home"></i>Home</a></li>
                <li class="breadcrumb-item text-nowrap"><a href="#">Shop</a>
                </li>
                <li class="breadcrumb-item text-nowrap active" aria-current="page">Grid left sidebar</li>
              </ol>
            </nav>
          </div>
          <div class="order-lg-1 pe-lg-4 text-center text-lg-start">
            <h1 class="h3 text-light mb-0">Shop grid left sidebar</h1>
          </div>
        </div>
      </div>
      <div class="container pb-5 mb-2 mb-md-4">
        <div class="row">
          <!-- Sidebar-->
          <aside class="col-lg-4">
            <!-- Sidebar-->
            {% include 'shop_product/_filter.html.twig' %}
          </aside>
          <!-- Content  -->
          <section class="col-lg-8">
            <!-- Toolbar-->
            
            <!-- Products grid-->
            <div class="row mx-n2">
            {% for products in pagination %}
              {% include 'shop_product/_card.html.twig' %}
            {% endfor %}
            </div>
            <hr class="my-3">

            {{ knp_pagination_render(pagination) }}
           
          </section>
        </div>
      </div>

{% endblock %}
